<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: includes">
</head>
<body>
	<div th:replace="fragments/navigation :: navbar"></div>
	<div style="margin-left: 25px; margin-right: 25px;">
		<h3 th:text="#{terms.endkunden.headline.0}"></h3>
			<div><p th:text="#{terms.endkunden.introduction}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.1}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.1.1}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.1.2}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.1.3}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.2}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.2.1}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.3}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.3.1}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.3.2}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.4}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.4.1}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.4.2}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.5}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.5.1}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.6}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.6.1}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.6.2}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.7}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.7.1}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.7.2}"></p></div>
		<h3 th:text="#{terms.widerruf.headline.0}"></h3>
		<h4 th:text="#{terms.widerruf.headline.1}"></h4>
			<div><p th:text="#{terms.widerruf.1}"></p></div>
		<h4 th:text="#{terms.widerruf.headline.2}"></h4>
			<div><p th:text="#{terms.widerruf.2.1}"></p></div>
			<div><p th:text="#{terms.widerruf.2.2}"></p></div>
			<div><p th:text="#{terms.widerruf.2.3}"></p></div>
			<div><p th:text="#{terms.widerruf.2.4}"></p></div>
			<div><p th:text="#{terms.widerruf.2.5}"></p></div>
			<div><p th:text="#{terms.widerruf.2.6}"></p></div>
			<div><p th:text="#{terms.widerruf.2.7}"></p></div>
			<div><p th:text="#{terms.widerruf.2.8}"></p></div>
			<div><p th:text="#{terms.widerruf.2.9}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.8}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.8.1}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.8.2}"></p></div>
		<h4 th:text="#{terms.endkunden.headline.9}"></h4>
			<div><p th:text="#{terms.endkunden.paragraph.9.1}"></p></div>
			<div><p th:text="#{terms.endkunden.paragraph.9.2}"></p></div>
		<h3 th:text="#{terms.applikation.headline.0}"></h3>
			<div><p th:text="#{terms.applikation.introduction}"></p></div>
		<h4 th:text="#{terms.applikation.headline.1}"></h4>
			<div><p th:text="#{terms.applikation.paragraph.1}"></p></div>
		<h4 th:text="#{terms.applikation.headline.2}"></h4>
			<div><p th:text="#{terms.applikation.paragraph.2}"></p></div>
		<h4 th:text="#{terms.applikation.headline.3}"></h4>
			<div><p th:text="#{terms.applikation.paragraph.3.1}"></p></div>
			<div><p th:text="#{terms.applikation.paragraph.3.2}"></p></div>
		<h4 th:text="#{terms.applikation.headline.4}"></h4>
			<div><p th:text="#{terms.applikation.paragraph.4}"></p></div>
		<h4 th:text="#{terms.applikation.headline.5}"></h4>
			<div><p th:text="#{terms.applikation.paragraph.5}"></p></div>
		<h4 th:text="#{terms.applikation.headline.6}"></h4>
			<div><p th:text="#{terms.applikation.paragraph.6}"></p></div>
		<h4 th:text="#{terms.applikation.headline.7}"></h4>
			<div><p th:text="#{terms.applikation.paragraph.7}"></p></div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>